
body
{

	background-image:url('robot6.jpg');
	background-attachment:scroll;
	background-repeat:no-repeat;
}

h1
{
	width:400px;
	height:50px;
	color:white;
	font-style:bold;
	text-align:center;
	padding:5px;
	margin:5px;
	margin-top:430px;
	margin-left:790px;
	font-style:italic;
	font-size:65px;
}
.div
{
	margin-left:750px;
	margin-top:25px;
	width:490px;
	height:210px;
	/* border:5px solid black; */
}

button
{
	background-color:#EEE;
	color:black;
	width:150px;
	height:60px;
	font-size:30px;
	border:4px solid black;
	transition:all 0.5s; 
	padding:5PX;
	margin:5px;
	border-radius:50px;
	transition: all 0.5s;
}

button:hover
{
	background-color:black;
	color:#EEE;
	width:150px;
	height:60px;
	font-size:30px;
	border:4px solid black;
	transition:all 0.5s; 
	border-radius:50px;
	transition: all 0.5s;
}

.one,
.five
{
	margin-left:170px;
}

.three
{
	background-color:red;
	color:white	
}

.three:hover
{
	background-color:white;
	color:red;
}